# RESTAURANTES - No build dependencies, all static files
# This file is empty since we don't use npm/node_modules
# Everything should be committed to git

# But ignore if someone adds secrets (be careful!)
.env.local
.env.*.local
*.key
*.pem
